$remove-color: #a6a9b8;
$alert-color: rgb(236, 78, 78);
$alert-color-hover:  rgb(207, 40, 40);
$alert-color-active: rgba(224, 81, 81, 0.767);
$primary-color: #2f9e59;
$primary-color-hover: #118d40;
$primary-color-active: #55d486;